<p>
    Current range: {{start}} - {{end}}
</p>

<div>
    Range size (current is {{selectedSize}}):
    <button {{action onRangeSelected 5}}>Five</button>
    <button {{action onRangeSelected 10}}>Ten</button>
    <button {{action onRangeSelected 12}}>Dozen</button>
    <button {{action onRangeSelected 100}}>Hundred</button>
</div>
